<!DOCTYPE html>

<head>

  <meta charset="utf-8">

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/pnotify/pnotify.core.css">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/pnotify/pnotify.core.js"></script>
  <script src="/src/angular-pnotify.js"></script>

</head>

<body ng-app="pnotify-demo">

  <div ng-controller="MyCtrl">
    
    <div class="container-fluid">
    
      <div class="page-header">
        <h1>angular-pnotify demo</h1>
      </div>
      
      <p>View source for more details.</p>
      <hr>
      
      <p><code>notificationService.success('Successing text')</code></p>
      <p><button ng-click="success()" class="btn btn-success">Success</button></p>
      <hr>
      
      <p><code>notificationService.info('Infomative text')</code></p>
      <p><button ng-click="info()" class="btn btn-info">Info</button></p>
      <hr>
      
      <p><code>notificationService.notice('Notice text')</code></p>
      <p><button ng-click="notice()" class="btn btn-warning">Notice</button></p>
      <hr>
      
      <p><code>notificationService.error('Error text')</code></p>
      <p><button ng-click="error()" class="btn btn-danger">Error</button></p>
      <hr>
      
      <p>Use the generic PNotify object.</p>
      <p>
        <code>
          notificationService.notify({
            title: 'The notice title.', 
            title_escape: false,
            text: 'The notice text.',
            text_escape: false,
            styling: "bootstrap3",
            type: "notice", 
            icon: true
          });
        </code>
      </p>
      <p><button ng-click="generic()" class="btn btn-primary">Generic PNotify</button></p>

    </div>
    
  </div>

  <script>

  angular.module('pnotify-demo', ['jlareau.pnotify']);

  angular.module('pnotify-demo')

    .controller('MyCtrl', ['$scope','notificationService', function ($scope, notificationService) {

      $scope.success = function() {
        notificationService.success('Successing text');
      };

      $scope.info = function() {
        notificationService.info('Info text');
      };

      $scope.notice = function() {
        notificationService.notice('Notice text');
      };

      $scope.error = function() {
        notificationService.error('Error text');
      };
      
      $scope.generic = function() {
        
        // This is a sample using the generic PNotify object
        notificationService.notify({
          title: 'The notice title.', 
          title_escape: false,
          text: 'The notice text.',
          text_escape: false,
          styling: "bootstrap3",
          type: "notice", 
          icon: true
        });
        
      };
      
    }]);

  </script>

</body>

</html>
